#overview {
	display: flex;
}

#description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 330px;
	margin-right: 40px;
}

#header {
	font-size: 22px;
	text-align: center;
	margin-top: 4rem;
}

#main-image {
	width: 100%;
	height: 100%;
	max-width: 1022px;
	object-fit: contain;
}

.main-image-div {
	flex-wrap: wrap;
	flex-grow: unset !important;
}

@media (max-width: 767px) {
	#main {
		flex-wrap: wrap;
		flex-grow: unset;
		margin-top: 4rem;
	}

	#description {
		margin-bottom: 30px;
	}

	#header {
		font-size: 17px;
	}
}
