html {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 23px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#bookmark-buddy-banner {
	width: 700px;
	margin-bottom: 33px;
}
