#showcase-list {
	list-style-type: none;
	padding: 0;
	padding-right: 30px;
}

#showcase-list li {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.55);
	font-weight: 500;
}

#showcase-list li.selected {
	color: black;
}

#showcase-list li:not(:last-child) {
	margin-bottom: 30px;
}

#showcase-images {
	flex-grow: 1;
	flex-shrink: 1;
	height: 100%;
	color: white;
	max-width: 861px; /* the width of the widest showcase gif */
	max-height: 720px; /* the height of the highest showcase gif */
}

#showcase-images img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.splide__track,
.splide__list,
.splide__slide {
	height: 100%;
}

#showcase-select {
	display: none;
	margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
	#main {
		flex-wrap: wrap;
	}

	#showcase-images {
		height: unset;
	}

	#showcase-select {
		display: block;
	}

	#showcase-list {
		display: none;
	}
}
